body {
  font-family: "Noto Sans", "Noto Sans JP", sans-serif;
  color: #333333;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

.wrapper {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 16px;
}

header {
  position: fixed;
  top: 0px;
  z-index: 10;
  width: 100%;
  background: #fff;
}

header .header-top {
  height: 70px;
  padding: 20px 16px;
}

.header-bottom {
  background-color: #333333;
}

@media screen and (max-width: 768px) {
  .header-bottom nav {
    overflow-x: scroll;
  }
}

.header-bottom a {
  color: #ffffff;
}

.header-bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
}

.header-bottom ul li {
  padding-right: 60px;
  text-transform: uppercase;
  font-size: 0.875rem;
}

.pickup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 150px;
  margin-bottom: 69px;
}

@media screen and (max-width: 768px) {
  .pickup {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 140px;
  }
}

.pickup article {
  width: 32%;
}

@media screen and (max-width: 768px) {
  .pickup article {
    width: 100%;
    padding-bottom: 29px;
  }
}

.pickup p {
  font-weight: bold;
  margin: 10px 0px 13px;
}

.readmore {
  text-align: center;
}

.readmore a {
  padding-bottom: 1px;
  position: relative;
  font-size: 0.875rem;
}

.readmore a:hover {
  outline-width: 0;
}

.readmore a:after {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: #333333;
  -webkit-transition: all 200ms ease 0s;
  transition: all 200ms ease 0s;
}

.readmore a:hover::after {
  opacity: 0;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.maincontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 140px;
}

@media screen and (max-width: 768px) {
  .maincontent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 120px;
  }
}

.maincontent main {
  width: 65%;
}

@media screen and (max-width: 768px) {
  .maincontent main {
    width: 100%;
  }
}

.maincontent main article {
  margin-bottom: 79px;
}

@media screen and (max-width: 768px) {
  .maincontent main article {
    width: 100%;
  }
  .maincontent main article:last-child {
    margin-bottom: 70px;
  }
}

.maincontent main .main-ttl {
  margin-bottom: 15px;
}

.maincontent main .main-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style: none;
  margin-bottom: 10px;
}

.maincontent main li {
  margin-right: 20px;
  font-size: .875rem;
}

.maincontent main img {
  margin-bottom: 10px;
}

.maincontent main p {
  padding: 0 40px 28px;
}

.maincontent aside {
  width: 33%;
  padding: 0 20px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .maincontent aside {
    width: 100%;
    padding: 0;
  }
}

.maincontent aside h3 {
  font-size: 1.125rem;
  margin-bottom: 30px;
}

.maincontent aside p {
  font-size: .875rem;
  text-align: left;
}

.maincontent aside .profile {
  margin-bottom: 60px;
}

.maincontent aside .profile img {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  margin: 10px 0 30px;
}

.maincontent aside .ranking {
  margin-bottom: 60px;
}

.maincontent aside .ranking p {
  margin-bottom: 30px;
}

.maincontent .archive li {
  font-size: .875rem;
  list-style: none;
  padding: 20px 0 20px 20px;
  text-align: left;
  border-top: 1px solid #777777;
}

.maincontent .archive li:last-child {
  border-bottom: 1px solid #777777;
}

footer {
  background-color: #f7f7f7;
  padding: 50px 0 10px 0;
}

footer .footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 56px;
}

@media screen and (max-width: 768px) {
  footer .footer-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .footer-box {
  width: 30%;
}

@media screen and (max-width: 768px) {
  footer .footer-box {
    width: 100%;
    margin-bottom: 30px;
  }
}

footer .footer-box h3 {
  padding-bottom: 30px;
  font-size: 18px;
}

footer .footer-box p {
  font-size: .875rem;
  padding-bottom: 20px;
  text-align: left;
}

footer .footer-box a {
  color: #333333;
}

footer .footer-box .about-ul {
  font-size: .875rem;
  padding-left: 12px;
}

@media screen and (max-width: 768px) {
  footer .footer-box .about-ul {
    margin-bottom: 15px;
  }
}

footer .footer-box .about-ul li {
  padding-bottom: 5px;
  position: relative;
}

footer .footer-box .about-ul li::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 8px;
  border-color: transparent transparent transparent black;
  position: absolute;
  top: 4px;
  left: -12px;
}

footer .footer-box .menu-ul {
  text-transform: uppercase;
  font-size: .875rem;
}

footer .footer-box .menu-ul li {
  padding: 15px 0 15px 15px;
  border-top: 1px solid #777777;
}

footer .footer-box .menu-ul:last-child {
  border-bottom: 1px solid #777777;
}

footer p {
  text-align: center;
  font-size: 15px;
}
/*# sourceMappingURL=index6.css.map */